
@{
    ViewData["Title"] = "ListAllSessions";
}

<div class="container-fluid">
    <img src="~/images/webinar-2636738_1920.jpg" class="img-fluid" alt="Responsive image">
</div>
<div>
    <hr />
    <h3> Public Sessions </h3>
    <hr />
</div>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                    <div class="card-block">
                        <h4 class="card-title mt-3">Interview Tips & Tricks</h4>
                        <div class="meta card-text">
                            <a>Duration: 45 Mins</a>
                        </div>
                        <div class="card-text"><a>Host: Justin</a></div>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="" asp-action=""
                           class="btn btn-info float btn-sm" data-toggle="tooltip" data-html="true" title="<em>Click to</em> <b>Join</b>">Attend</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                    <div class="card-block">
                        <h4 class="card-title mt-3">Business Communication</h4>
                        <div class="meta card-text">
                            <a>Duration: 1 Hour</a>
                        </div>
                        <div class="card-text"><a>Host: Jerry</a></div>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="" asp-action="" class="btn btn-info float btn-sm" data-toggle="tooltip" data-html="true" title="<em>Click to</em> <b>Join</b>">Attend</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <h3> Private Sessions </h3>
    <hr />
</div>
    </div>
<div class="container">

</div>